<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title class="title">Second Game</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-img src="../../../assets/icon/logo.png" style="width: 600px; height: 600px;"></ion-img>
    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
