<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header">
    <ion-title class="title">
      Recupera tu Contraseña
    </ion-title>
  </div>
  
  <div>

    <ion-item>
      <ion-input placeholder="Ingresa tu Email" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input class="input" placeholder="Ingresa una contraseña nueva"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input class="input" placeholder="Confirma tu contraseña nueva"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 275px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>

</ion-content>
