<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Imagen animada que sirve como fondo del componente -->
  <img src="../../../assets/icon/Error.gif" alt="Fondo animado" class="gif-background" />

  <!-- Encabezado -->
  <div class="header">
    <p class="subTitle">Ingresa tu email para restablecer tu contraseña</p>
  </div>
  
  <!-- Formulario -->
  <form [formGroup]="resetPasswordForm" novalidate>
    <!-- Email -->
    <ion-item>
      <ion-input 
        formControlName="email" 
        class="input" 
        placeholder="Ingresa tu email"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <!-- Mensajes de error -->
    <ion-text *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.errors?.['required']">
      El email es obligatorio.
    </ion-text>
    <ion-text *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.errors?.['email']">
      Ingresa un email válido.
    </ion-text>

    <!-- Enlace para iniciar sesión -->
    <div class="signinLink">
      <p>¿Recordaste tu contraseña? <a [routerLink]="['/login']" style="color: #58e6ff">Inicia sesión aquí</a></p>
    </div>

    <!-- Botón de acción -->
    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 30px;">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
