<ion-header>
  <ion-toolbar>
    <ion-title>Perfil del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userData">
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ userData.username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Email:</strong> {{ userData.email }}</p>
      <p><strong>Edad:</strong> {{ userData.age }}</p>
    </ion-card-content>
  </ion-card>

  <ion-text *ngIf="!userData">Cargando datos del usuario...</ion-text>
</ion-content>
