<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido</ion-title>
    <p class="subTitle">Regístrate para usar tu cuenta</p>
  </div>

  <form>

    <div class="ion-padding">
      <ion-item>
        <ion-input class="input" placeholder="Ingresa tu nombre de usuario"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input class="input" placeholder="Ingresa tu email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input class="input" placeholder="Ingresa tu Contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input class="input" placeholder="Confirma tu Contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

    </div>

    <div class="signinLink">
      <p>¿Ya tienes cuenta? <a [routerLink]="['/login']" style="color: #1c8a7a">Ingresa Aquí</a></p>
    </div>

    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 150px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </form>