
<ion-content *ngIf="product">

    <!-- Encabezado -->
    <div class="heading">
      <div>
        <div>
          <!-- Botón de menú -->
          <ion-buttons slot="start">
            <ion-menu-button mode="ios" colors="dark"></ion-menu-button>
          </ion-buttons>
        </div>
      </div>
    
      <!-- Opciones debajo del título -->
      <div class="session-buttons">
        <ng-container *ngIf="isAuthenticated">
          <a routerLink="/home">Inicio</a>
          <a routerLink="/profile">Mi Perfil</a>
          <a href="#" (click)="logout()">Cerrar Sesión</a>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated">
          <a routerLink="/home">Inicio</a>
          <a routerLink="/login">Iniciar Sesión</a>
          <a routerLink="/signup">Registrarse</a>
        </ng-container>
      </div>
    </div>

  <!-- Contenedor Principal -->
  <div class="product-details-container">
    <!-- Nombre del Producto -->
    <h1 class="product-title">{{ product.name }}</h1>
    
    <!-- Vendedor -->
    <p class="product-seller">
      <strong>Vendedor:</strong> 
      <a [routerLink]="['/profile', product.ownerId]" class="product-link">
        {{ product.ownerName }}
      </a>
    </p>

    <!-- Imagen del Producto -->
    <div class="product-image-container">
      <img [src]="product.image" alt="Imagen del producto" class="product-image" />
    </div>

    <!-- Precio -->
    <p class="product-price">
      <strong>Precio:</strong> {{ product.price | currency }}
    </p>

    <!-- Otros Datos -->
    <div class="product-info">
      <p><strong>Estado:</strong> {{ stateMap[product.state] || product.state }}</p>
      <p><strong>Región:</strong> {{ formatRegion(product.region) }}</p>

      <p><strong>Descripción:</strong> {{ product.description || 'Sin descripción' }}</p>
      <p>
        <strong>Email del vendedor:</strong> {{ product.ownerEmail }}
        <ion-button size="small" fill="clear" (click)="copyToClipboard(product.ownerEmail)">
          Copiar
        </ion-button>
      </p>
      <p>
        <strong>Teléfono del vendedor:</strong> {{ product.ownerPhone }}
        <ion-button size="small" fill="clear" (click)="copyToClipboard(product.ownerPhone)">
          Copiar
        </ion-button>
      </p>
    </div>
  </div>
</ion-content>
