<ion-content class="change-password-content">
  <div class="password-container">
    <h1>Cambia tu Contraseña</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <ion-item>
        <ion-label position="stacked">Contraseña Actual</ion-label>
        <ion-input formControlName="currentPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="passwordForm.invalid">
        Cambiar Contraseña
      </ion-button>
    </form>
    <ion-button routerLink="/profile" expand="block" fill="outline">
      Volver al Perfil
    </ion-button>
  </div>
</ion-content>
