<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <ion-item>
      <ion-label position="stacked">Contraseña Actual</ion-label>
      <ion-input formControlName="currentPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nueva Contraseña</ion-label>
      <ion-input formControlName="newPassword" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="passwordForm.invalid">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>
