<ion-content [fullscreen]="true">
  <!-- Contenedor principal con el fondo animado -->
  <div class="gif-background">
    <img src="../../../assets/icon/Browser.gif" alt="Fondo animado" />
  </div>

  <!-- Encabezado del formulario -->
  <div class="header">
    <p class="subTitle">Conéctate para continuar.</p>
  </div>

  <!-- Formulario de inicio de sesión -->
  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <!-- Campo para el email -->
      <ion-item>
        <ion-input formControlName="email" placeholder="Ingresa tu email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <!-- Mensaje de validación si el email es obligatorio -->
      <ion-text *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
        El email es obligatorio.
      </ion-text>

      <!-- Campo para la contraseña -->
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <!-- Mensaje de validación si la contraseña es obligatoria -->
      <ion-text *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
        La contraseña es obligatoria.
      </ion-text>
    </div>

    <!-- Enlace para recuperar la contraseña -->
    <div class="forgotPassword">
      <a [routerLink]="['/reset-password']">Recupera tu contraseña</a>
    </div>

    <!-- Enlace para registrarse -->
    <div class="signupLink">
      <p>¿Eres nuevo? <a [routerLink]="['/signup']">Crear cuenta</a></p>
    </div>

    <!-- Botón flotante para enviar el formulario -->
    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 150px;">
      <ion-fab-button (click)="login()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
