<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bienvenido de vuelta</ion-title>
    <p class="subTitle">Ingresa para usar tu cuenta</p>
  </div>

  <!-- Formulario con el evento `ngSubmit` para que valide el formulario -->
  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <!-- Campo Email -->
      <ion-item>
        <ion-input formControlName="email" placeholder="Ingresa tu email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-text *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
        El email es obligatorio.
      </ion-text>

      <!-- Campo Contraseña -->
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-text *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
        La contraseña es obligatoria.
      </ion-text>
    </div>

    <div class="forgotPassword">
      <a [routerLink]="['/reset-password']" style="color: #1c8a7a">Recupera tu contraseña</a>
    </div>

    <div class="signupLink">
      <p>¿Eres nuevo? <a style="color: #1c8a7a" [routerLink]="['/signup']">Crear cuenta</a></p>
    </div>

    <!-- Botón flotante con `click` en vez de `type="submit"` -->
    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 150px;">
      <ion-fab-button (click)="login()"> 
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
