<ion-content class="change-data-content">
  <div class="form-container">
    <h1 class="form-title">Cambia tus datos</h1>
  <form [formGroup]="changeDataForm" (ngSubmit)="saveChanges()">
    <!-- Campo Nombre -->
    <ion-item>
      <ion-label position="stacked">Nombre de Usuario</ion-label>
      <ion-input formControlName="fullname" placeholder="Ingresa tu nombre"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="changeDataForm.get('fullname')?.touched && changeDataForm.get('fullname')?.invalid">
      El nombre es obligatorio y debe tener al menos 3 caracteres.
    </ion-text>

    <!-- Campo Edad -->
    <ion-item>
      <ion-label position="stacked">Edad</ion-label>
      <ion-input formControlName="edad" type="number" placeholder="Ingresa tu edad"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="changeDataForm.get('edad')?.touched && changeDataForm.get('edad')?.invalid">
      La edad es obligatoria y debe ser mayor o igual a 18.
    </ion-text>

    <!-- Campo Teléfono -->
    <ion-item>
      <ion-label position="stacked">Número de Teléfono</ion-label>
      <ion-input formControlName="phone" placeholder="Ingresa tu número de teléfono"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="changeDataForm.get('phone')?.touched && changeDataForm.get('phone')?.invalid">
      El número de teléfono es obligatorio y debe tener exactamente 9 dígitos.
    </ion-text>

    <!-- Campo Región -->
    <ion-item>
      <ion-label position="stacked">Región</ion-label>
      <ion-select formControlName="region" placeholder="Selecciona tu región">
        <ion-select-option value="Arica y Parinacota">Arica y Parinacota</ion-select-option>
        <ion-select-option value="Tarapacá">Tarapacá</ion-select-option>
        <ion-select-option value="Antofagasta">Antofagasta</ion-select-option>
        <ion-select-option value="Atacama">Atacama</ion-select-option>
        <ion-select-option value="Coquimbo">Coquimbo</ion-select-option>
        <ion-select-option value="Valparaíso">Valparaíso</ion-select-option>
        <ion-select-option value="Metropolitana">Metropolitana</ion-select-option>
        <ion-select-option value="O'Higgins">O'Higgins</ion-select-option>
        <ion-select-option value="Maule">Maule</ion-select-option>
        <ion-select-option value="Ñuble">Ñuble</ion-select-option>
        <ion-select-option value="Biobío">Biobío</ion-select-option>
        <ion-select-option value="Araucanía">Araucanía</ion-select-option>
        <ion-select-option value="Los Ríos">Los Ríos</ion-select-option>
        <ion-select-option value="Los Lagos">Los Lagos</ion-select-option>
        <ion-select-option value="Aysén">Aysén</ion-select-option>
        <ion-select-option value="Magallanes">Magallanes</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="changeDataForm.get('region')?.touched && changeDataForm.get('region')?.invalid">
      Seleccionar una región es obligatorio.
    </ion-text>

    <!-- Botón para usar cámara o galería -->
    <ion-item>
      <ion-label position="stacked">Foto de Perfil</ion-label>
      <ion-button (click)="selectImage()" expand="block">Usar Cámara o Galería</ion-button>
    </ion-item>
    
    <!-- Vista previa de la imagen seleccionada -->
    <img
    class="profile-image-preview"
    *ngIf="changeDataForm.get('profileImage')?.value"
    [src]="changeDataForm.get('profileImage')?.value"
    alt="Foto de perfil"
    />

    <!-- Botón Guardar Cambios -->
    <ion-button expand="block" type="submit" [disabled]="changeDataForm.invalid">Guardar Cambios</ion-button>
  </form>

  <!-- Botón Volver al Perfil -->
    <ion-button expand="block" fill="outline" color="secondary" routerLink="/profile">
      Volver al Perfil
    </ion-button>
  </div>
</ion-content>
