<ion-header>
  <ion-toolbar>
    <ion-title>Consolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let console of consoles">
    <ion-img [src]="console.image" alt="Imagen del producto"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ console.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Precio:</strong> {{ console.price | currency }}</p>
      <p><strong>Estado:</strong> {{ stateMap[console.state] || console.state }}</p>
      <p><strong>Vendedor:</strong> {{ console.ownerName }}</p>

      <!-- Botón para ir al perfil del producto -->
      <ion-button [routerLink]="['/product-profile', console.id]" fill="outline">
        Ver Producto
      </ion-button>
      
      <!-- Botón para ir al perfil del vendedor -->
      <ion-button [routerLink]="['/profile', console.ownerId]" fill="outline">
        Ver Perfil
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-text *ngIf="consoles.length === 0">
    No se encontraron consolas.
  </ion-text>
</ion-content>
