<ion-header>
  <ion-toolbar>
    <ion-title>Consolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let console of consoles">
    <ion-img [src]="console.image" alt="Imagen del producto" [routerLink]="['/product-profile', console.id]"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ console.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>
        <strong>Vendedor:</strong>
        <a 
          [routerLink]="['/profile', console.ownerId]" 
          style="text-decoration: none; color: #007bff; font-weight: bold;">
          {{ console.ownerName }}
        </a>
      </p> 

      <p><strong>Precio:</strong> {{ console.price | currency }}</p>
      <p><strong>Estado:</strong> {{ stateMap[console.state] || console.state }}</p>

      <p><strong>Región:</strong> {{ formatRegion(console.region) }}</p>

      <!-- Botón para ir al perfil del vendedor -->
      <ion-button [routerLink]="['/profile', console.ownerId]" fill="outline" size="small">
        Ver Perfil
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-text *ngIf="consoles.length === 0">
    No se encontraron consolas.
  </ion-text>
</ion-content>
