<ion-content>
  <div class="heading">
    <div class="btn_flex">
      <div>
        <ion-buttons slot="start">
          <ion-menu-button mode="ios" defaultHref="/home1" colors="dark"></ion-menu-button>
          <ion-label>Second <span>Games</span></ion-label>
        </ion-buttons>
      </div>
    </div>

  <input type="text" placeholder="Buscar Productos">

  <p>
    <a href="#">Mi Perfil</a>
    <a href="#">¿Quienes somos?</a>
    <a href="#">Cerrar</a>
  </p>

  <ion-item class="ver-locales">
    <ion-label>
        <ion-icon name="location-outline"></ion-icon> Ver locales en tu región
    </ion-label>
</ion-item>

</div>
</ion-content>